{# empty Twig template #}
{% extends "TangaraCoreBundle:Default:layout.html.twig" %}

{% block title %}Ralliement d'un groupe{% endblock %}

{% block main_container %}
    <div class="container">
        <h1>Confirmation en cours</h1>
        Retour sur la page de <a href="{{ path('fos_user_profile_show') }}" >profil</a>
    </div> 
{% endblock %}

