{% form_theme form 'TangaraCoreBundle:Form:fields.html.twig' %}
<div class="container">
    <h2>{{'navbar.new_project'|trans}}</h2>
    <form action="{{ path('tangara_project_create') }}" method="POST" class="form-group">
        {{form(form)}}
    </form>
</div>
