{# views for result member in ajax #}
<div>
    <ul>
        {% for user in user %}
            <a class="member" data-href="{{ path('tangara_project_add_member_ajax', {'user': user.id, 'project': project.id}) }}" data-user-Id="{{user.id}}" data-project-Id="{{project.id}}"><button class="btn btn-default form-control"> {{  user.username|e }} </button></a>
            <br>
            <br>    
        {% endfor %}
    </ul>

</div>