{% extends "TangaraCoreBundle:Default:layout.html.twig" %}

{% block title %}Projets{% endblock %}

{% block main_container %}
    <div class="container">
        <h1>{{ file_uploaded }}UPLOADED FAILED</h1>
    </div>
{% endblock %}