# mac dirty files
.DS_Store
*~

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
Tangara/*Bundle/Resources/translations/messages.*.yml
Tangara/*Bundle/Resources/translations/messages.*.yml~

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Web
web/app_dev.php

# Composer
composer.phar
phpunit.phar

# Netbeans
nbproject/*
/update.sh
update.sh
/web/
/src/Tangara/TangaraBundle/Resources/translations/messages.fr.yml
