# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
Tangara/*Bundle/Resources/translations/messages.*.yml
Tangara/*Bundle/Resources/translations/messages.*.yml~

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# Netbeans
nbproject/*