<div class="container">
    <a href="{{ path(route) }}" id="profile_link" class="content-link" data-active="profile"></a>
</div> 
<script>
    $(function() {
        $("#profile_link").click();
    });
</script>
