<div class="jumbotron">
    <div class="container">
        <h1>{{ '_homepage.Welcome'|trans}}</h1>
        <p>{{ '_homepage.site_description'|trans}}</p>
        <p><a class="btn btn-primary btn-lg" role="button">{{ '_homepage.more'|trans}}  &raquo;</a></p>
    </div>
</div>