{% extends "TangaraCoreBundle:Default:layout.html.twig" %}

{% block main_container %}
<div class="container">
        {% block fos_user_content %}
            <h1>{{ 'list.groups'|trans }}</h1>
            {% include "FOSUserBundle:Group:list_content.html.twig" %}    
        {% endblock fos_user_content %}
        
         <!--div>
            <form action="{{ path( 'tangara_user_joinGroup' ) }}" method="post">
            <input type="submit" value="Confirmer" />
            </form>
        </div-->
         
        <!--ul>
            <li><a href="{#{ path( 'tangara_project_listgroup' ) }#}">Liste des groupes</a></li>
            <li><a href="{#{ path( 'tangara_project_listproject' ) }#}">Liste des projets</a></li>
        </ul-->
        
</div> 
{% endblock %}