{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_group_show">
    <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
    <div class="row">
        <a class="btn btn-success" href="{{ path('fos_user_group_edit', {groupName: group.name } ) }}">Édition du groupe</a>
    </div>
    </br>
    <div class="row">
        <a class="btn btn-success" href="{{ path('tangara_project_group_new', {group_id: group.getId() }) }}">Créer un projet dans ce groupe</a>
    </div>
</div>
