imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
        cookie_lifetime: 0
        gc_maxlifetime: 7200
    fragments:       ~
    http_method_override: true
    translator: { fallback: fr }

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        # lessphp:
            # file: %kernel.root_dir%/../vendor/leafo/lessphp/lessc.inc.php
            # apply_to: "\.less$"
        # cssrewrite: ~
        #closure:
        #    jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        #yui_css:
        #    jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"
        less:
            node: /usr/local/bin/node
            node_paths: [/usr/local/lib/node_modules]
            apply_to: "\.less$"
        cssrewrite: ~
        
# braincrafted_bootstrap:
    # less_filter: less
    
# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: "%kernel.root_dir%/data/data.db3"
        # path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    port: "%mailer_port%"
    encryption: "%mailer_encryption%"
    spool:     { type: memory }

# FOS/UserBundle Configuration
fos_user:
    db-driver: orm
    firewall-name: main
    user-class: Tangara\CoreBundle\Entity\User
    group:
        group-class: Tangara\CoreBundle\Entity\Group

#norzechowicz_ace_editor:
#    base_path: "http://rawgithub.com/ajaxorg/ace-builds/master"
#    # base_path: "bundles/norzechowiczaceeditor/ace"
#    autoinclude: true
#    debug: false # sources not minified with uglify.js
#    noconflict: true # uses ace.require instead of require
parameters:
    tangara_core.settings.directory.upload: %directory.upload%
    tangara_core.settings.directory.tangarajs: %directory.tangarajs%
    tangara_core.settings.directory.tutorial: %directory.tutorial%
    tangara_core.settings.allowed_mime_types: 
        image: 
            - "image/jpeg"
            - "image/gif"
            - "image/png"
            - "image/svg+xml"
        audio:
            - "audio/mpeg"
            - "audio/mp4"
            - "audio/ogg"
            - "audio/vorbis"
            - "audio/vnd.wave"
            - "audio/webm"
        video:
            - "video/mpeg"
            - "video/mp4"
            - "video/webm"
            - "video/ogg"
    tangara_core.settings.resource_max_size: 5000000

    
stof_doctrine_extensions:
    default_locale: fr_FR
    orm:
        default:
            timestampable: true


#knpPaginator configuration 
knp_paginator:
    page_range: %knp_paginator.page_range%                      # default page range used in pagination control
    default_options:
        page_name: page                # page query parameter name
        sort_field_name: sort          # sort field query parameter name
        sort_direction_name: direction # sort direction query parameter name
        distinct: true                 # ensure distinct results, useful when ORM queries are using GROUP BY statements
    template:
        pagination: KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig    
        sortable: KnpPaginatorBundle:Pagination:sortable_link.html.twig # sort link template