parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     tangaradb
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port: 465
    mailer_encryption: ssl

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    directory.upload: C:\Tangara
    directory.tangarajs: ../../../../tangara-client
    directory.tutorial: ../../../../tangara-tutorial/index.html
    knp_paginator.page_range: 10

#   set discover_url if discover screen should include content from elsewhere
    discover_url: false
    document_domain: false

twig:
    globals:
        custom_js: false
