<div class="row">
    <ul class="navette">
        <li><a class="icon-home" href="#"></a></li>
        <li><a class="icon-cog" href="#"></a></li>
        <li><a class="icon-cw" href="#"></a></li>
        <li><a class="icon-location" href="#"></a></li>
    </ul>
</div>