{# src/Tangara/AdministrationBundle/Resources/views/Default/jumbotron.html.twig #}
<div class="jumbotron">
    <div class="container">
        <h1>{{ '_Welcome'|trans}}</h1>
        <p>{{ '_site_description'|trans}}</p>
        <p><a class="btn btn-primary btn-lg" role="button">{{ '_more'|trans}}  &raquo;</a></p>
    </div>
</div>