{# src/Tangara/AdministrationBundle/Resources/views/Default/jumbotron.html.twig #}
<div class="jumbotron">
    <div class="container">
        <h1>Welcome in the TangaraJS Project</h1>
        <p>This is the official website of the TangaraJS web app, Android, PC. The old version of the Tangara written in Java can be found here.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
</div>