{% block main_container %}
<div class="container">
    <h2>{{'profile.change_password'|trans}}</h2>
        {% block fos_user_content %}
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        {% endblock fos_user_content %}
</div>
{% endblock %}