{% extends '::base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
<h1>{{ username }} > Création d'un projet</h1>
    <form action="{{ path( "tangara_project_add" ) }}" method="post">

        {{ form_widget(form) }}

        <input type="submit">
    </form>

{% endblock %}