{% extends "TangaraAdministrationBundle:Default:layout.html.twig" %}

{% block title %}Projets{% endblock %}

{% block main_container %}
    <div class="container">
        {# <h1>{{ project.title }}</h1>#}
        <h1>Ajouter un fichier au projet</h1>
        <form method="post" {{ form_enctype(form) }}>

            {{ form_widget(form) }}

            <input type="submit">
        </form>
            
            {#{ form(form) }#}
    </div>
{% endblock %}