{% extends '::base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}

{# <h1>{{ project.title }}</h1>#}

<form action="{{ path( "tangara_project_upload" ) }}" method="post">
    
    {{ form_widget(form) }}
    
    <input type="submit">
</form>

{% endblock %}