{% extends "::base.html.twig" %}
{% block stylesheets %}
    {% include "TangaraCoreBundle:Main:stylesheets.html.twig" %}
{% endblock %}
{% block javascripts %}
    {% include 'TangaraCoreBundle:Main:javascript.html.twig' %}
{% endblock %}
{% block body %}
    {% block navbar %}
        {% include 'TangaraCoreBundle:Main:navbar.html.twig' %}
    {% endblock %}
    {% block content %}
        <div id="content">
            {% include "TangaraCoreBundle:Main:discover.html.twig" %}
        </div>
    {% endblock %}
    <iframe id="local-frame" src="{{ tangarajs }}" frameborder="0" scrolling="no"></iframe>
{% endblock %}
