{% extends "TangaraCoreBundle:Default:layout.html.twig" %}

{% block title %}Page test{% endblock %}

{% block main_container %}
    <div class="container">
        <h1>Page de test</h1>
        
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
            
    </div> 
{% endblock %}