<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% block header %}
            {% include "TangaraAdministrationBundle:Default:header.html.twig" %}
        {% endblock %}

        {% block header_stylesheets %}
            {% include "TangaraAdministrationBundle:Default:header_stylesheets.html.twig" %}
        {% endblock %}
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://www.mozilla.org/firefox/">Upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="fluidMedia">
        {% block navbar %}
            {% include 'TangaraAdministrationBundle:Default:navbar.html.twig' %}
        {% endblock %}

            <iframe id="tangarawindows" src="../../../../tangarajs/index.html"
                    width="100%"
                    height="100%"
                    scrolling="auto"
                    frameborder="0"
                    >
            </iframe>

        {% block main_container %}
            <div class="container">
            </div>
        {% endblock %}
        </div>
        <!-- /container -->
        {% block javascripts %}
            {% include 'TangaraAdministrationBundle:Default:javascript.html.twig' %}
        {% endblock %}
    </body>
</html>
