{% extends "TangaraTangaraBundle:Default:layout.html.twig" %}

{% block title %}Projets{% endblock %}

{% block main_container %}
    <div class="container">
        <h1>{{ username }} > Création d'un projet</h1>
        <div>
            Project manager : {{ project.getProjectManager() }}
        </div>

        <form action="{{ path( "tangara_project_new" ) }}" method="post">
        {{ form_widget(form) }}
            <input type="submit">
        </form>
    </div> 

{% endblock %}