{% extends "TangaraAdministrationBundle:Default:homepage.html.twig" %}

{% block jumbotron %}
{% endblock %}

{% block main_container %}
    <div class="container">
        <h1>Profil > {{ app.user }}</h1>
        {% block fos_user_content %}
            {% include "TangaraUserBundle:Profile:show_content.html.twig" %}
        {% endblock fos_user_content %}

        {% block container_footer%}
            {% include 'TangaraAdministrationBundle:Default:container_footer.html.twig' %}
        {% endblock %}
    </div> 
{% endblock %}
