<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Qu'est-ce que Declick ?</h2>
            <p>Declick est une plateforme pour l'apprentissage du code et la création numérique.</p>
            <p>Actuellement, Declick est un <b>démonstrateur en phase de développement actif</b> : les fonctions seront ajoutées au fur et à mesure.</p>
            <p>La première version sera prête en <b>septembre 2015</b>.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Qui sommes-nous ?</h2>
            <p>La plateforme Declick est développée par les associations <a href="http://www.colombbus.org">Colombbus</a> et <a href="http://www.france-ioi.org">France IOI</a>.</p>
            <p>Si vous souhaitez plus d'information ou simplement nous contacter, vous pouvez utiliser le formulaire de contact de Colombbus.
            <p><a class="btn btn-default" href="http://www.colombbus.org/fr/contact" role="button">Nous contacter &raquo;</a></p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<footer>
    <p>&copy; <a href="http://www.colombbus.org">Colombbus</a> 2007-2015</p>
</footer>