<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
    {% block header %}
        {% include "TangaraCoreBundle:Main:header.html.twig" %}
        {% block stylesheets %}
            {% include "TangaraCoreBundle:Main:stylesheets.html.twig" %}
        {% endblock %}
        {% block custom_css %}{% endblock %}
        {% block javascripts %}
            {% include 'TangaraCoreBundle:Main:javascript.html.twig' %}
        {% endblock %}
        {% block custom_javascript %}{% endblock %}
        <title>{% block header_title %}Tangara{% endblock %}</title>
    {% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://www.mozilla.org/firefox/">Upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block body %}
            {% block navbar %}
                {% include 'TangaraCoreBundle:Main:navbar.html.twig' %}
            {% endblock %}
            {% block content %}
            <div id="content">
            </div>
            {% endblock %}
            <iframe id="local-frame" src="{{ tangarajs }}" frameborder="0" scrolling="no"></iframe>
        {% endblock %}
    </body>    
</html>
