/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontello.woff') format('woff'),
        url('../fonts/fontello.ttf') format('truetype'),
        url('../fonts/fontello.svg#fontello') format('svg');
    font-weight: normal; font-style: normal;
}

[class*="icon-"] {
    font-family: 'fontello';
    font-style: normal;
    font-size: 3em;
    speak: none;
}

.icon-home:after { content: "\2302"; } 
.icon-cog:after { content: "\2699"; } 
.icon-cw:after { content: "\27f3"; } 
.icon-location:after { content: "\e724"; } 

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing:    border-box; 
    box-sizing:         border-box; 
    margin: 0;
    padding: 0;
}

body {
    padding-top:40px;
}

header {
    margin-bottom: 80px;
}

a {
    text-decoration: none;
    color: #DD6C4F;
}

a:hover {
    text-decoration:underline;
}

a:focus { 
    outline: none;
}

h1, p, p + p, ul { 
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}


.navette {
    list-style: none;
    text-align: center;
}

.navette li {
    position: relative;
    display: inline-block;
    margin-right: -4px; /* See: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
}

.navette li:before {
    content: "";
    display: block;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.navette a {
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
    color: #a7a7a7;
    margin: 36px;
    width: 144px;
    height: 144px;
    position: relative;
    text-align: center;
    line-height: 144px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.navette a:before {
    content: "";
    display: block;
    background: #fff;
    border-top: 2px solid #ddd;
    position: absolute;
    top: -18px;
    left: -18px;
    bottom: -18px;
    right: -18px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #ddd;
}

.navette a:hover {
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
}

[class*="icon-"] {
    font-family: 'fontello';
    font-size: 3em;
    font-style: normal;
}

.logo {
    margin-top: -6px;
}



.tangarawindows {
    width: 100%;
    height: 100%;
    scrolling:"auto";
    frameborder: "0";
}

.fluidMedia {
    position: relative;
    padding-bottom: 43%; 
    padding-top: 0px;
    height: 100%;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}



html {
    height: 100%;
}
body{
    padding-bottom: 0;
    height: 100%;
}

footer {
    padding-left: 100px;
    position: absolute;
}

.container{
    height: 100%;
}

.tangara {
    background-image: "{{ asset('bundles/tangaraadministration/img/tangara_retina.png') }}";
}

#admininterface {
    padding-left: 5px; 
    padding-right: 5px; 
    margin-top: 15px; 
    height: 20px; 
    margin-left: 5px;
    border-radius: 3px;
}

#navbar-tangara {
    background-color:#6DBEA9;
    min-height:40px;
    text-align:center;
}

#navbar-tangara .navbar-brand {
    text-shadow: none;
    font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
}

#navbar-tangara a.navbar-brand {
    color:#503d2c;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    padding:0;
}

#navbar-tangara .navbar-brand img {
    margin-right:10px;
    vertical-align:middle;
}

#main-menu li {
   display:inline-block;
   vertical-align:middle;
   line-height:normal;
   float:none;
}

#main-menu li > a {
    color:#FFFFFF;
    border-color: transparent;
    border-radius: 5px;
    text-shadow: none;
    padding:3px 8px;
    line-height:normal;
}

#main-menu li > a:hover, #main-menu li > a:active, #main-menu li.active a {
    background-color:#FFFFFF;
    color:#6DBEA9;
}

#navbar-tangara ul.navbar-nav {
    float:none;
}

#main-menu li {
    margin-left:30px;
    margin-right:30px;
}


#navbar-tangara .navbar-collapse {
    height:40px;
    line-height:40px;
}

#user-menu-trigger {
    color:#503d2c;
}

#user-menu-trigger:hover {
    text-decoration:underline;
}

#user-menu {
    text-align:left;
}

#user-menu a {
    color:#503d2c;
}
#user-menu form {
    padding-left:20px;
    padding-right:20px;
}

#user-menu a:hover {
    text-decoration:underline;
    background:none;
}

.btn-success {
    background-image: linear-gradient(to bottom, #60b0a0 0px, #6dbea9 100%);
    background-repeat: repeat-x;
    border-color: #4d9e89;
}