<div class="container">
    <div class="row">
        <br><br>
        <div class="col-md-6">
           <button class="btn btn-block"><a href="{{ path('tangara_admin_users')}}">{{ 'admin.members'|trans }}</a></button> 
        </div>
        <div class="col-md-6">
           <button class="btn btn-block"><a href="{{ path('tangara_admin_projects')}}">{{ 'admin.projects'|trans }}</a></button> 
        </div>
    </div> 
</div>