{# view for admin -> users #}
<div class="container">
        {# block users #} 
        <div class="col-md-6">
                        <h2 align="center">{{ 'admin.members'|trans }}</h2>
                        <br>
                        <ul>
                            {% for user in users %}
                                <a href="{{ path('tangara_user_profile_show', {'user_id': user.id}) }}" class="btn btn-primary">{{  user.username|e }}</a>
                            {% endfor %}
                        </ul>
            </div>
        {# end block users #}
</div>