{% extends "TangaraAdministrationBundle:Default:homepage.html.twig" %}

{% block jumbotron %}
{% endblock %}

{% block main_container %}
        {% block fos_user_content %}
            {% include "FOSUserBundle:Group:list_content.html.twig" %}
        {% endblock fos_user_content %}

        {% block container_footer%}
            {% include 'TangaraAdministrationBundle:Default:container_footer.html.twig' %}
        {% endblock %}
    </div> 
{% endblock %}